// -------------------------------------
// Settings
// -------------------------------------


// Button
// -------------------------------------

$v-pressable-pressed-scale: scale(0.95)   !default;
$v-pressable-transition:    all 0.25s     !default;


// Ripple
// -------------------------------------

$v-ripple-color:            rgba(255,255,255, 0.25)  !default;
$v-ripple-effect-duration:  0.5s                     !default;


// Busy identicator
// -------------------------------------

$v-busy-identicator-color:          white  !default;
$v-busy-identicator-spin-duration:  0.75s  !default;

